html{
	background-color: lightgrey;
	height:100%;
}

body {
	background-color: grey;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}

h1 {
	color: red;
}

table {
	background-color: teal;
}

th {
	background-color: teal;
}

td {
	color: blue;
	background-color: grey;
}

.navigation {
	float: left;
	width: 150px;
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	border: 1px dashed black;
}

.content {
	padding-left: 200px;
	height:inherit;
}

.footer {
	position: fixed;
	background-color: teal;
	text-align:center;
	width: inherit;
	bottom: 0;
	height: 40px;
}

.header{
	background-color: teal;
}